*{
    margin: 0;
    padding: 0;
}
li,a{
    text-decoration: none;
    list-style: none;
}
/* #wrapper{
    width: 100%;
} */
#backhea{
 
    height: 212px;
}
#header{
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0; 
    background-color: rgb(255 255 255 / 93%);
    background-image: linear-gradient(-161deg, #fdfcfce8, transparent);
    border-bottom: 1px solid black ;
  

}
#main a{
    text-decoration: none;
}

#header .top a{

    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;

}
#header .top .second{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* background-color: #ccc; */
    padding: 11px;
}
.top .second .flex{
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.top .second .logo a{
    font-size: 42px;
    color: black;


}
.top .second .logo a:hover{
    color: brown;
}
.second .search .field{
    width: 266px;
    border: 1px solid rgb(134 126 125 / 27%);
    border-radius: 15px;
    padding: 9px 8px;
    background-color: rgb(134 126 125 / 10%);
}
.second .search .field:focus{
    outline: none;
}
.second .infobar ul li{
    list-style: none;
    display: inline-block;

}
.second .infobar ul li a{
    display: block;
    color: black;
    padding: 10px;
    font-size: 18px;
}
#header .bot {
    width: 100%;
}
#header .bot .third{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.bot .third ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.bot .third ul li a{
    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.bot .third ul li a:hover{
    color: brown;
}
.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    background:
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat -1px 6px/18px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 6px 14px/11px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 0 2px/4px 2px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 12px 17px/4px 4px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 6px 17px/4px 4px
}
.gg-shopping-cart::after,
.gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}
.gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}
/* ==============================================================================
===================================================================
=============================================================== */
#container .main-container{
    display: flex;

}
#container .main-container .list-content{
    max-width: 336px;
    /* background-color: aquamarine; */

}
#container .main-container .list-content ul li{
    display: block;
    text-align: end;
    padding: 20px;
    font-size: 20px;
}
.main-container .list-content ul li a{
    color: #000;
    text-transform: capitalize;
}
.main-container .list-content ul li a:hover{
    color: brown;
}
.main-container .list-content .list-box h4{
    font-size: 20px;
}
#container .main-container .shirt-product{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    max-width: 1145px;
}
.main-container .shirt-product .box-product{
    width: 25%;
    margin-bottom: 4px;
}
.main-container .shirt-product .box-product .text-header a{
    color: black;
    font-weight: 600;
}
.main-container .shirt-product .box-product .price p{

    color: brown;
}
/* ==========================================================
========================================================== */
.xemthem{
    width: 100%;
    
    
}
.xemthem .xem-content{
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.xemthem .xem-content a{
    display: block;
    padding: 6px;
    color: white;
    background-color: black;
    align-content: center;
}
#footer{
    margin-top: 20px;
    width: 100%;
    padding-bottom: 40px;

}
#footer .ftpage{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 4px;
}
.ftpage .ftbox{
    max-width: 25%;
    margin: 15px;
    padding: 5px;
}
.ftpage .ftbox .blockf{
    display: block;
    padding: 14px 0px;
}